.container{
    display: grid;
    height: 100vh;
    grid-template-columns:auto auto auto;
    grid-template-rows:1fr 2fr 1fr;
    text-align: center;
    grid-template-areas: left center right;
    padding: 10px;

    
}
h1{
    text-align: center;
}
#LEFTSIDEBAR{
    border:1px solid;
    display: flex;
}
main{
    border:1px solid;
}
#RIGHTSIDEBAR{
    border:1px solid;
}
#BOTTOMBAR{
    border:1px solid;
}
#Politics{
    background-color: burlywood
} 
#Technology{
    background-color: aquamarine
}
#Locals{
    background-color: aqua
}
#Opinion{
    background-color: blue;
    
}
#Sports{
    background-color: rebeccapurple;
    
}
@media(max-width:576px) {
    
}





